
.logo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 0;
margin:10px
;
}

nav{
    width: 30%;
}

.listanav{
width: 100%;
    list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
padding: 0;
margin: 0;

}



a{
    color: #270043;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fdba3c;
    padding: 0;
    margin:0;

}

body{
    margin: 0;
    background-color: #270043;
}

