

.logo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 0;
margin:10px
;
}

nav{
    width: 30%;
}

.listanav{
width: 100%;
    list-style: none;
display: flex;
justify-content: space-around;
align-items: center;
padding: 0;
margin: 0;

}



a{
    color: #270043;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fdba3c;
    padding: 0;
    margin:0;

}

body{
    margin: 0;
    background-color: #270043;
}

.descrip{
    color: #fdba3c;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    align-items: center;
    text-align: center;
    
}

h1{
margin-top: 50px;

}
ul{
    list-style: none;
}

.container{

display: flex;
flex-direction: row;
align-items: center;

}
.elegirnos{
    margin-top: 10%;
    height: 25%;
    width: 100%;
    color: #fdba3c;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    align-items: center;
    text-align: center;

}

.fa-solid{
width: 100%;
height: 10%;
    display: flex;
align-items:flex-start ;
flex-direction: column;
justify-content: space-between 5px;

}

.primero{

height: 30%;
width: 33%;
display: flex;
align-items:center ;
flex-direction: column;
margin: 0px;
justify-content: space-between 5px;
}

.segundo{
    
width: 33%;
height: 30%;
display: flex;
align-items:center ;
flex-direction: column;
margin: 0px;
justify-content: space-between 5px;
}

.tercero{
    height: 30%;
    width: 33%;
    display: flex;
    align-items:center ;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between 5px;

}

.pasos{
    color: #fdba3c;
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: larger;
    align-items: center;
    text-align: center;
    height: 25%;
    width: 100%;
    justify-content: space-between 5px;
}
.container2{
    display: flex;
    flex-direction: row;
    align-items:center;



}

.paso1{
    height: 42%;
    
    display: flex;
    align-items:center ;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between 5px;
}

.paso2{
    height: 42%;
    
    display: flex;
    align-items:center ;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between 5px;
}

.paso3{
    height: 42%;
    
    display: flex;
    align-items:center ;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between 5px;
}

.paso4{
    height: 42%;
 
    display: flex;
    align-items:center ;
    flex-direction: column;
    margin: 0px;
    justify-content: space-between 5px;
}

.contenidop{
    margin-bottom: 5px;
align-items: center;
margin-top: 1px;
display: inline;
}

.containerclien{
margin-top: 130px;
text-align: center;
    width: 100%;
height: 30%;
align-items: center;
display: flex;
justify-content: center;
color: #fdba3c;
text-decoration: none;
font-family: 'Pathway Gothic One', sans-serif;
font-size: larger;
}

.clientes{
    margin-top: 150px;

align-items: center;
width: 80%;
height: 300px
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
align-items: center;
width: 100%;

  }

  .imagen{
height: 250px;
width: 250px;
margin: 50px;
margin-left: 20%;
display: flex;
align-items: center;

  }

  .imagen:hover{
transform: scale(1.3);

  }

  .containerfoot{
width: 80%;
height: 250px;
margin-top: 300px;
display: flex;
flex-direction: row;
justify-content: center;
color: #fdba3c;
text-decoration: none;
font-family: 'Pathway Gothic One', sans-serif;
font-size: larger;
text-align: center;

}

  

  .foot1{
    width: 50%;
    height: 250px;
    margin-left: 550px;
    display: flex;
   flex-direction: column;
align-items: flex-start;

  }


.foot2{
    width: 50%;
    height: 250px;
    margin-left: 350px;
    display: flex;
   flex-direction:column;
align-items: flex-start;

}

.imgfoot{

    height: 32px;
    width: 32px;
}

.contactotitulo{

    display: inline;
}